@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  /*background: rgba(0, 0, 0, 0.8);*/
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px; }

.contenedor {
  width: 85%;
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
  /*Sirve para centrar el contenido*/
  overflow: hidden; }

/********************************** */
/********* HEADER  **************** */
/********************************** */
header {
  width: 100%;
  background: url("../img/15.jpg") rgba(219, 183, 183, 0.6);
  background-size: cover;
  background-attachment: fixed;
  /*Fijar la imagen*/
  background-position: center 0;
  /*Uitlizamos flexbox*/ }
  header .contenedor {
    position: relative;
    height: 700px; }
  header .menu {
    width: 100%;
    text-align: right; }
    header .menu a {
      color: #f3f4f7;
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      /*Para poner los elementos unos al lado del otro*/
      margin: 40px 20px;
      text-decoration: none;
      /*Quitar el subrayado*/
      position: relative; }
    header .menu a:hover {
      text-decoration: underline;
      /*poner el subrayado*/ }
  header .contenedor-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    /*Centrar contenido* con flex verticalmente*/
    align-content: center;
    /*centrar contenido con flex horizontalmente*/
    margin: 190px 0; }
    header .contenedor-texto .texto {
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      padding: 20px 60px;
      position: absolute;
      margin-top: -52px; }
      header .contenedor-texto .texto h1, header .contenedor-texto .texto h3 {
        color: #f3f4f7;
        font-weight: 300;
        margin: 0; }
      header .contenedor-texto .texto .nombre {
        				/*color:#ff4c4c;
        
        				-webkit-text-stroke: 0.5px #f3f4f7;
        				 -moz-text-stroke: 0.5px black #f3f4f7;
        				 text-stroke: 0.5px black #f3f4f7; */
        font-family: 'Holtwood One SC', serif;
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 50px;
        font-weight: bold; }
      header .contenedor-texto .texto .tipo {
        margin-bottom: 10px;
        font-size: 28px;
        line-height: 25px; }

/********************************** */
/********* MAIN  **************** */
/********************************** */
.main {
  background: url("../img/textura.jpg");
  background-repeat: repeat;
  /********************************** */
  /********* ACERCA  **************** */
  /********************************** */
  /********************************** */
  /********* SERVICIOS  **************** */
  /********************************** */
  /********************************** */
  /********* MENU  **************** */
  /********************************** */
  /********************************** */
  /********* UBICACION  **************** */
  /********************************** */
  /********************************** */
  /********* MAPA  **************** */
  /********************************** */ }
  .main .acerca-de .contenedor {
    overflow: visible;
    /*Para que la imagen no se corte y quede superpuesta*/
    position: relative; }
  .main .acerca-de .foto {
    width: 80%;
    position: absolute;
    /*La foto esta mas arriba*/
    left: 0;
    top: -70px;
    /*Para subir la imagen*/
    z-index: 0;
    /*Delante o detras de algun objeto. Posicion de profundidad*/
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
    .main .acerca-de .foto img {
      width: 100%;
      vertical-align: top; }
  .main .acerca-de article {
    background: #fff;
    padding: 40px;
    width: 40%;
    position: relative;
    float: right;
    top: 450px;
    /*top: 220px;*/
    z-index: 1;
    /*Delante o detras de algun objeto. Posicion de profundidad*/
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .main .acerca-de article h3 {
      font-size: 50px;
      font-weight: 300;
      margin-top: 10px;
      margin-bottom: 40px; }
    .main .acerca-de article p {
      line-height: 20px;
      margin-bottom: 15px;
      text-align: justify; }
  .main .servicios {
    /*background:#f2f2f2;*/
    /*Le cambiamos el color para direrenciar entre secciones. Mejora el diseño*/
    padding-top: 520px; }
    .main .servicios .contenedor {
      overflow: hidden; }
    .main .servicios .titulo {
      /*font-family: 'Holtwood One SC', serif;*/
      font-size: 38px;
      margin-bottom: 40px;
      font-weight: 300;
      color: #ff4c4c;
      text-align: center;
      line-height: 34px; }
    .main .servicios .contenedor-servicios {
      display: flex;
      /*Activamos flex*/
      flex-direction: row;
      /*Ubicamos por filas*/
      flex-wrap: wrap;
      /*Garantiza que el objeto que no cabe se ponga debajo y no que se reajuste en tamaño*/
      justify-content: space-between;
      /*Igual espaciado entre imagenes*/ }
      .main .servicios .contenedor-servicios .servicio {
        width: 24%;
        /*Para que quepan 4 imagenes*/
        margin-bottom: 40px;
        float: left; }
        .main .servicios .contenedor-servicios .servicio .thumb {
          width: 100%;
          /*Que ocupe el 100% del contenedor*/
          margin-bottom: 10px;
          /*Espaciado entre objetos de 10 px*/ }
          .main .servicios .contenedor-servicios .servicio .thumb img {
            width: 100%;
            vertical-align: top;
            border-radius: 5px;
            /*Redondear el borde de la imagen*/
            opacity: 0.8;
            /*Poner una opacidad*/
            border: 1px solid rgba(255, 255, 255, 0.5); }
          .main .servicios .contenedor-servicios .servicio .thumb img:hover {
            opacity: 1;
            /*Con el paso del mouse cambiar la opacidad*/
            border: 1px solid white;
            -o-transition: all .3s ease;
            -transition: all .3s ease; }
        .main .servicios .contenedor-servicios .servicio .descripcion {
          text-align: center; }
        .main .servicios .contenedor-servicios .servicio .nombreServicio {
          font-weight: 700;
          color: #ff4c4c;
          margin-bottom: 10px; }
        .main .servicios .contenedor-servicios .servicio .nombreServicio:hover {
          font-size: 17px; }
        .main .servicios .contenedor-servicios .servicio .categoriaServicio {
          font-size: 14px;
          color: #636363; }
  .main .menu {
    /*padding-top: 570px;
    margin-bottom: 50px;*/ }
    .main .menu .titulo {
      font-size: 36px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 20px;
      color: #ff4c4c; }
    .main .menu .contenedor-menu,
    .main .menu .contenedor-menu2 {
      border: 1px solid #000;
      /*Borde externo para el recuadro*/
      background: transparent;
      padding: 5px;
      overflow: hidden; }
    .main .menu article {
      width: 42%;
      padding: 20px;
      overflow: hidden; }
    .main .menu .menu-left {
      float: left; }
    .main .menu .menu-right {
      float: right; }
    .main .menu .categoria {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 40px;
      text-align: center;
      color: #000; }
    .main .menu .plato {
      overflow: hidden;
      margin-bottom: 30px;
      padding: 20px;
      border-bottom: 4px dotted #000; }
      .main .menu .plato .nombre {
        font-size: 20px;
        margin-bottom: 15px;
        float: left; }
      .main .menu .plato .precio {
        float: right;
        font-size: 20px;
        margin-bottom: 15px; }
      .main .menu .plato .descripcion {
        font-size: 14px;
        color: #676767;
        clear: both;
        text-align: justify; }
    .main .menu .clear {
      clear: both; }
  .main .ubicacion {
    background: #fff;
    padding: 60px 0;
    overflow: hidden; }
    .main .ubicacion .titulo {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      color: #ff4c4c;
      margin-bottom: 40px; }
    .main .ubicacion .direccion {
      float: left;
      width: 50%;
      text-align: left; }
      .main .ubicacion .direccion .calle {
        margin-bottom: 15px; }
    .main .ubicacion .horario {
      float: right;
      width: 50%;
      text-align: right;
      overflow: hidden; }
      .main .ubicacion .horario h4 {
        text-align: center;
        margin-bottom: 20px; }
      .main .ubicacion .horario .entre-semana,
      .main .ubicacion .horario .fin-semana {
        width: 50%;
        float: left;
        text-align: center; }
    .main .ubicacion .redes-sociales .contenedor {
      display: flex;
      justify-content: center;
      margin-top: 40px; }
    .main .ubicacion .redes-sociales .contenedor a {
      color: #fff;
      text-align: center;
      width: 100px;
      padding: 15px 0;
      display: block;
      /*Pone uno debajo de otro*/
      border-radius: 3px;
      font-size: 30px;
      background: #ccc;
      margin: 0 20px; }
    .main .ubicacion .redes-sociales .contenedor .whatsapp {
      background: #4aae20;
      opacity: 0.8; }
    .main .ubicacion .redes-sociales .contenedor .facebook {
      background: #1877f2;
      opacity: 0.8; }
    .main .ubicacion .redes-sociales .contenedor .instagram {
      background: #405de6;
      opacity: 0.8; }
    .main .ubicacion .redes-sociales .contenedor .whatsapp:hover {
      opacity: 1; }
    .main .ubicacion .redes-sociales .contenedor .facebook:hover {
      opacity: 1; }
    .main .ubicacion .redes-sociales .contenedor .instagram:hover {
      opacity: 1; }
  .main .mapa {
    width: 100%;
    overflow: hidden; }
    .main .mapa iframe {
      width: 100%;
      width-max: 600px; }

/********************************** */
/********* FOOTER  **************** */
/********************************** */
footer {
  background: #1e2b38;
  padding: 10px 0; }

footer .copyright {
  background: #1e2b38;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  margin: 10px; }

/********************************** */
/********* MEDIA QUERY  **************** */
/********************************** */
@media screen and (max-width: 750px) {
  header .contenedor {
    position: static;
    height: auto; }

  header .contenedor .contenedor-texto {
    margin-top: 0px; }

  header .contenedor .contenedor-texto .texto {
    position: static;
    margin: 100px 0; }

  header .contenedor .contenedor-texto .texto .nombre {
    font-size: 34px; }

  header .contenedor .contenedor-texto .texto .tipo {
    font-size: 22px; }

  header .contenedor .menu {
    text-align: center; }

  header .contenedor .menu a {
    margin: 10px 15px;
    font-size: 18px; }

  .main .acerca-de .contenedor .foto {
    width: 100%;
    position: relative; }

  .main .acerca-de article {
    position: relative;
    width: 80%;
    top: -120px;
    transform: translate(-20px, 0px); }

  .main .servicios {
    padding-top: 0px; }

  .main .servicios .contenedor-servicios .servicio {
    width: 32%;
    /*Para que quepan 3 imagenes*/ }

  .main .menu article {
    width: 100%; }

  .main .mapa {
    width: 80%;
    margin: auto; } }
@media screen and (max-width: 450px) {
  header .contenedor .contenedor-texto .texto .nombre {
    font-size: 30px; }

  header .contenedor .contenedor-texto .texto .tipo {
    font-size: 20px; }

  header .contenedor .menu {
    text-align: center; }

  header .contenedor .menu a {
    margin: 5px 10px;
    font-size: 14px; }

  .main .acerca-de .foto {
    top: -120px;
    /*Para subir la imagen*/ }

  .main .acerca-de article {
    width: 75%;
    transform: translate(0px, 0px); }

  .main .acerca-de .contenedor article h3 {
    font-size: 34px;
    margin-bottom: 10px; }

  .main .acerca-de .contenedor article p {
    font-size: 12px; }

  .main .servicios .contenedor-servicios .servicio {
    width: 85%;
    /*Para que quepa 1 imagen*/ }

  .main .servicios .contenedor-servicios {
    display: flex;
    /*Activamos flex*/
    flex-direction: row;
    /*Ubicamos por filas*/
    flex-wrap: wrap;
    /*Garantiza que el objeto que no cabe se ponga debajo y no que se reajuste en tamaño*/
    justify-content: center;
    /*Igual espaciado entre imagenes*/ }

  .main .servicios .titulo,
  .main .menu .titulo,
  .main .ubicacion .titulo {
    font-size: 30px; }

  .main .menu article {
    width: 100%; }

  .main .mapa {
    width: 80%;
    margin: auto; }

  .menu .plato .nombre {
    font-size: 14px;
    line-height: 16px; }
  .menu .plato .precio {
    font-size: 14px;
    line-height: 16px; }
  .menu .plato .descripcion {
    font-size: 10px; }

  .main .ubicacion .direccion {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  .main .ubicacion .horario {
    width: 100%;
    text-align: center; }
  .main .ubicacion .redes-sociales .contenedor {
    flex-wrap: wrap;
    /*Cuando llegue a 500 px poner los elementos uno debano de otros*/
    padding: 20px 0; }
  .main .ubicacion .redes-sociales .contenedor a {
    margin-bottom: 25px; } }

/*# sourceMappingURL=estilos.css.map */
